@using Closeted;

@{
    ViewData["Title"] = "Create New Items";
}
@{

    IEnumerable<Top> top = ViewData["Top"] as IEnumerable<Top>;
    IEnumerable<Bottom> bottom = ViewData["Bottom"] as IEnumerable<Bottom>;
    IEnumerable<Headwear> headwear = ViewData["Headwear"] as IEnumerable<Headwear>;
}

<div class="text-center">
    <h2>Create New Items</h2>

   
            @using (Html.BeginForm("Top", "Home", FormMethod.Post))
                {
            <h3>Top</h3>
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="Name" />
            <input type="file" name="topimage" />
                
            </div>
            <button type="submit" class="btn btn-primary">Submit Top</button>
                }
            @using (Html.BeginForm("Bottom", "Home", FormMethod.Post))
            {
                <h3>Bottom</h3>
                <div class="form-group">
                    <label>Name</label>
            <input type="text" name="Name" />
            <input type="file" name="bottomimage" />

                </div>
                <button type="submit" class="btn btn-primary">Submit Top</button>
            }
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <label for="file">Choose an image:</label>
            <input type="file" name="file" id="file" />
        </div>
        <div>
            <button type="submit">Upload</button>
        </div>
    }


            <h3>Existing Items</h3>

            <!-- Display Tops in a table -->
            <h4>Tops</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in top)
                    {
                        <tr>
                    <td>@item.Name</td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Display Bottoms in a table -->
            <h4>Bottoms</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
        <tbody>
            @foreach (var item in bottom)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
            </table>

            <!-- Display Headwear in a table -->
            <h4>Headwear</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
        <tbody>
            @foreach (var item in headwear)
        {
            <tr>
                <!-- Display Name -->
                

                <!-- Display Image if ImageData is available -->
                <td>
                    @if (item.Image != null && item.Image.Length > 0)
                    {
                        var base64Image = Convert.ToBase64String(item.Image);
                        <img src="data:image/jpeg;base64,@base64Image" style="max-width: 100px; height: auto;" />
                    }
                    else
                    {
                        <span>No image available</span>
                    }
                </td>
            </tr>
        }
        </tbody>
            </table>
    
</div>

